.blog .attached {
	display: inline-block;
	position: fixed;
	top: 25px;
	z-index: 500;
}

.blog .container {
	position: relative;
	padding-bottom: 100px;
	width: auto;
	margin-right: 100px;
	margin-left: 100px;
}

.blog .footer {
	display: block;
	text-align: center;
}

.blog .content {
	width:auto;
	margin: 0 50px;
	padding: 50px 0;
}

h1 span {
	position: relative;
	float: right;
	font-size: 15px;
	font-color: grey;
	bottom: 2px;
}

.blog .pagination {
	float: right;
}

a.avatar {
	text-align: center;
}

.transparent {
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}